

/*HERRAMIENTAS CONFIG  BUTTON TAMAÑO TRAZADO-------- START*/
.opciones-herramientas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.btn-trazo{
  position: relative;
  bottom: 5px;
  
}

.bubble{

   position: relative;
   
  
}
.bubbleAlert{
   
        color: #000;
    padding: 0;
    font-size: 25px;
  }

/*HERRAMIENTAS CONFIG -------- END*/
