
/*____________________________________________________________________________________*/
/*PRESENTACION CONFIG  --- START*/
.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;                            /*PRESENTACION*/
}
.logo:hover {
  filter: drop-shadow(0 0 2em #baff64);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #baff64);
}
.titulo{
  font-size: 4em;
  background-color: #242424;
  transition: filter 300ms;                            /*PRESENTACION*/
  color: rgba(255,255,255,0.5);                       
  transition:  filter 300ms;
}
.titulo:hover{
  font-size 8.1em;
  color: rgba(255,255,255,0.9);
  filter: drop-shadow(0 0 0.5em #baff64);

}
.titulo.react:hover{
  transition: filter 300ms;                            /*PRESENTACION*/
  filter: drop-shadow(0 0 1em #baff64)                
}
/*PRESENTACION CONFIG ---- END*/
/*___________________________________________________________________________________*/
